.# Databases & Environment Secrets
.env
.env.local
.vscode/
.cursor/mcp.json
.cursor/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
.pytest_cache/

# Docker
.docker/

# Node / UI Frontend
node_modules/
.next/
dist/
build/

# OS generic
.DS_Store
Thumbs.db

agent/__init__.py
alembic/
api/__init__.py
migrations/